VITE_EDO_API_URL=https://api-edo.ecoprogress.kz
VITE_EDO_APP_URL=https://edo.ecoprogress.kz
VITE_MAIN_SITE_URL=https://ecoprogress.kz
VITE_MAIN_CRM_URL=https://crm.ecoprogress.kz
VITE_NCALAYER_ENABLED=true
VITE_ENVIRONMENT=production
